body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.main-title {
  padding: 2% 10%;
  font-size: 3em;
}

.leaderboard {
  display: flex;
  justify-content: space-around;
}

.scores {
  width: 30%;
}

.score-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid;
}

.table-row {
  display: table-row;
}

.table-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-cell {
  display: table-cell;
  padding: 10px;
}

.table-cell:last-child {
  text-align: left;
}